{% extends 'base.html' %}

{% block title %}Guess the Country{% endblock %}

{% block content %}
    <h1>Guess the Country</h1>

    <button id="start-button">Start</button>

    <div id="random-country"></div>

    <div id="input-div" style="display: none;">
        <input type="text" id="country-input" placeholder="Enter the country">
        <button type="submit" id="submit-button">Submit</button>
    </div>

    <button id="refresh-country" style="display: none;">Refresh</button>

    <div id="result-message"></div>
    
    
    <!-- {{ random_country }}

    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Send</button>
    </form> -->

{% endblock %}