{% extends 'base.html' %}

{% block title %}All Countries{% endblock %}

{% block content %}

    <!-- Image hero I -->
    <section class="hero-section-allcountries d-flex align-items-center">
        <div class="container position-relative">
            <div class="row">
                <div class="col-lg-8">
                    <h1 class="display-1 fw-bold">ALL COUNTRIES</h1>
                    <p class="lead my-4">
                        Explore the world, one country at a time. <br/>
                        Browse through nations, discover their flags, <br>
                        capitals, and more— your global journey starts here.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="body-section py-5">
        <div class="container">
            <h1 class="display-4 text-center mb-5"><b>All the Countries</b></h1>

            <!-- Show the abecedary buttons -->
            <div class="mb-3 text-center">
                {% for letter in "ABCDEFGHIJKLMNOPQRSTUVWXYZ" %}
                    <a href="#{{ letter }}" class="btn btn-outline-secondary btn-sm m-1 abc-links">
                        {{ letter }}
                    </a>
                {% endfor %}
            </div>

            <!-- every data of the countries in a list -->
            <div class="table-responsive">
                <table class="table table-dark table-hover table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Flag</th>
                            <th scope="col">Name</th>
                            <th scope="col">Capital</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for data in order_list_countries %}
                            <tr>
                                <td class="text-center">
                                    <a href="{% url 'country_for_name_view' %}?name={{ data.name }}">
                                        <img src="{{ data.flags }}" alt="{{ data.name }} flag" class="img-fluid rounded" style="max-width: 80px;" loading="lazy">
                                    </a>
                                </td>
                                <td class="country-anchor">
                                    <a href="{% url 'country_for_name_view' %}?name={{ data.name }}" class="text-secondary country-anchor" id="{{ data.name.0 }}">{{ data.name }}</a>
                                </td>
                                <td>
                                    <a href="{% url 'country_for_name_view' %}?name={{ data.name }}" class="text-secondary">{{ data.capital|join:', ' }}</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>

{% endblock %}