{% extends 'base.html' %}

{% block title %}Todos los paises{% endblock %}

{% block content %}
    <h1>Todos los Paises</h1>

    <table>
        <tr>
            <th>Flag</th>
            <th>Name</th>
            <th>Capital</th>
        </tr>
        {% for data in order_list_countries %}
            <tr>
                <td><img src="{{ data.flags }}" width="80px"></td>
                <td>{{ data.name }}</td>
                <td>{{ data.capital }}</td>
            </tr>
        {% endfor %}
    </table>

    <!-- <ul>
        {% for data in order_list_countries %}
            <li>
                <img src="{{ data.flags }}" width="80px"> | {{ data.name }} | {{ data.capital }}
            </li>
        {% endfor %}
    </ul> -->
{% endblock %}