
/* === Body === */
body {
    background-color: #1a1a1a;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.body-section {
    background-color: #080d18;
    color: #ffff;
}

/* === Navbar and Hero section I === */
.navbar { 
    z-index: 1000;
    padding: 1rem 0;
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    transition: background 0.3s ease;
    
}

.navbar.scrolled {
    background: rgba(0, 0, 0, 0.8);
}

.hero-section {
    background: url("/static/images/neom2.webp") no-repeat center center;
    background-size: cover;
    color: #ffff;
    height: 100vh;
    position: relative;
}

.hero-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.hero-section::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px; 
    background: linear-gradient(to bottom, transparent, #080d18); 
    z-index: 1;
}


/* === Small Introduction === */
.intro-icons {
    width: 60px;
    height: 60px;
}

/* === Four images to explore app === */
.tour-card {
    border: none !important; 
    height: 100%;
}

.image-container {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.card-img-top {
    filter: brightness(0.7);
    transition: opacity 0.3s ease;
}

.card-img-top:hover {
    filter: brightness(1);
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay-text {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

.tour-card {
    background: rgba(255, 255, 255, 0.1);
    height: 450px;
    display: flex;
    border: none;   
}

.main-links {
    text-decoration: none;
}

/* === Hero section II and footer === */
.hero-section-II {
    background: url("/static/images/aurora.webp") no-repeat center center;
    background-size: cover;
    color: #ffff;
    height: 100vh;
    position: relative;
}

.hero-section-II::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.hero-section-II::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px; 
    background: linear-gradient(to top, transparent, #080d18); 
    z-index: 2;
}

.social-icons {
    width: 30px;
    height: 30px;
}

footer {
    position: absolute; 
    bottom: 20px; 
    left: 0;
    right: 0;
    background: transparent; 
    z-index: 2; 
}

.social-icons {
    width: 30px; 
    height: 30px;
    transition: opacity 0.3s ease; 
}

.social-icons:hover {
    opacity: 0.7;
}

/* === All countries === */
.hero-section-allcountries {
    background: url("/static/images/singapur.jpg") no-repeat center center;
    background-size: cover;
    color: #ffff;
    height: 70vh;
    position: relative;
}

.hero-section-allcountries::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.hero-section-allcountries::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px; 
    background: linear-gradient(to bottom, transparent, #080d18); 
    z-index: 1;
}

.table a {
    text-decoration: none;
    transition: color 0.3s ease;
}

.table a:hover {
    color: #bbb !important; 
    text-decoration: underline;
}

.abc-links {
    text-decoration: none;
    color: gray;
}

.country-anchor {
    scroll-margin-top: 56px;
} 

/* === Search countries === */
.hero-section-searchcountry {
    background: url("/static/images/buscar22.webp") no-repeat center center;
    background-size: cover;
    color: #ffff;
    height: 70vh;
    position: relative;
}
.hero-section-searchcountry::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}
.hero-section-searchcountry::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px; 
    background: linear-gradient(to bottom, transparent, #080d18); 
    z-index: 1;
}

.country-info p {
    color: #ccc; 
}

.country-info p a {
    transition: color 0.3s ease;
}

.country-info p a:hover {
    color: #bbb !important;
    text-decoration: underline;
}

.borders-redirect {
    text-decoration: none;
}

/* === Compare Countries === */
.hero-section-comparecountries {
    background: url("/static/images/comparar22.webp") no-repeat center center;
    background-size: cover;
    color: #ffff;
    height: 70vh;
    position: relative;
}

.hero-section-comparecountries::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.hero-section-comparecountries::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px; 
    background: linear-gradient(to bottom, transparent, #080d18);
    z-index: 1;
}

.country-info p {
    color: #ccc;
}

.country-info p a {
    transition: color 0.3s ease;
}

.country-info p a:hover {
    color: #bbb !important;
    text-decoration: underline;
}

.distance-info p {
    color: #ccc;
}

/* === Guess the Country === */
.hero-section-guesscountries {
    background: url("/static/images/lugar22.webp") no-repeat center center;
    background-size: cover;
    color: #ffff;
    height: 70vh;
    position: relative;
}

.hero-section-guesscountries::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.hero-section-guesscountries::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px; 
    background: linear-gradient(to bottom, transparent, #080d18); 
    z-index: 1;
}

.country-info p {
    color: #ccc;
}

.country-info p a {
    transition: color 0.3s ease;
}

.country-info p a:hover {
    color: #bbb !important;
    text-decoration: underline;
}

#random-country img {
    max-width: 200px;
    border-radius: 5px;
}

#result-message.correct {
    color: #28a745;
    font-size: 1.2rem;
    font-weight: 600;
}

#result-message.incorrect {
    color: #dc3545; 
    font-size: 1.2rem;
    font-weight: 600;
}