<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <script src="{% static 'scripts.js' %}" defer></script>
    <title>{% block title %}Paises{% endblock %}</title>
</head>
<body>
    {% block content %}
        <h1>View info about the countries</h1>

        <a href="{% url 'all_country_view' %}">All countries</a>
        <a href="{% url 'country_for_name_view' %}">Search one country</a>
        <a href="{% url 'random_country_view' %}">Guess the Country</a>
        <a href="{% url 'compare_countries_view' %}">Compare Countries</a>
    
    {% endblock %}
</body>
</html>